* {
    color: ghostwhite;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/burried.png");
    z-index: 1;
}

.container {
    padding-top: 20px;
    margin-bottom: 40px;
}

.navbar {
    background-color: rgb(82, 82, 100);
    border-bottom: 4px solid rgb(226, 121, 0, 0.3);
    height: 80px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}

.nav-link {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link:hover {
    color: #dddddd;
}

.navbar-brand {
    color: ghostwhite;
    font-family: 'Barriecito';
    padding: 10px;
}

.head, .head2 {
    font-size: 40px;
    color: rgb(226, 121, 0);
    font-family: 'Stylish', sans-serif;
}

.head2 {
    margin-left: 20px;
}

#portrait {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: auto;
    margin: 0 20px 15px 0;
}

.carousel-fade, .d-block {
    margin: auto;
    max-height: 600px;
    max-width: 600px;
    margin-bottom: 20%;
}

footer {
    padding: 4px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(82, 82, 100, 0.7);
    border-top: 4px solid rgb(226, 121, 0, 0.3);
    width: 100%;
    height: 40px;
    z-index: 3;
}

.foottext {
    color: ghostwhite;
}

@media screen and (max-width: 640px) {

    .linkies {
        margin-top: 4px;
        float: left;
        width: 100%;
    }

    .logo {
        width: 100%;
        margin: 0 auto auto 0;
    }

}